<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Talento</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#misTrabajosModal">
                            Mis trabajos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nuevo_candidato" href="#" data-bs-toggle="modal"
                            data-bs-target="#misTrabajosModal2">
                            Nuevo Candidato
                        </a>
                    </li>

                    <button id="exportButton">
                        Reporte Talento
                    </button>
                    <button id="cerrar_sesion" (click)="logOut()">
                        Cerrar Sesión
                    </button>
                </ul>
            </div>
        </div>
    </nav>
</header>